<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>QR Code Generator</h1>
      <p>Type a url or text to generate QR Code</p>
    </div>
    <div class="input-form">
      <form action="" method="post">
         {% csrf_token %}
      <input type="text" name="url" class="qr-input" placeholder="Enter url or text">
      <button class="generate-btn">Generate QR Code</button>
      </form>
    </div>
    <div class="qr-code">
      <img src="images/qrcode.jpg" class="qr-image">
    </div>
  </div>

  <script>
    var container = document.querySelector(".container");
    var generateBtn = document.querySelector(".generate-btn");
    var qrInput = document.querySelector(".qr-input");
    var qrImg = document.querySelector(".qr-image");

    generateBtn.onclick = function () {      
      if(qrInput.value.length > 0){ 
        generateBtn.innerText = "Generating QR Code..."       
        qrImg.src = "https://api.qrserver.com/v1/create-qr-code/?size=170x170&data="+qrInput.value;
        qrImg.onload = function () {
          container.classList.add("active");
          generateBtn.innerText = "Generate QR Code";
        }
      }
    }
  </script>
</body>
</html>